<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.badlogic.androidgames.gameName"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/conficon" android:label="Dont Let Your Balls Drop" android:allowBackup="false">
        <activity android:name="com.badlogic.androidgames.dontLetYourBallsDrop.DontLetYourBallsDrop"
                  android:label="Dont Drop Your Balls"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="12"/>
</manifest> 